# Ambiente virtual
venv/
.env/
.venv/

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Arquivos temporários do editor
*.swp
*.swo
.vscode/
.idea/

# Banco de dados local
#db.sqlite3

# Arquivos de migração (se não quiser versionar)
*/migrations/__pycache__/
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build/coverage
htmlcov/
.coverage
.tox/
*.egg-info/
