
.header {
  ion-toolbar {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 60px;
  }

  .title-center {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }

  ion-icon {
    font-size: 24px;
  }
}

/* ---------- SEGMENT ---------- */
.segment-custom {
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
  max-width: 430px; // largura máxima do iPhone 16 Pro Max
  margin-left: auto;
  margin-right: auto;
}

/* ---------- CONTENT ---------- */
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .alert-container {
    margin-top: 80px;
    max-width: 380px; 
    margin-left: auto;
    margin-right: auto;

    .alert-icon {
      font-size: 100px;
      color: #444;
      margin-bottom: 25px;
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom: 8px;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }}
  .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #3880ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3171e0;
    }
  }
  ion-fab {
  margin-bottom: 20px; // distância do fundo
  margin-right: 20px;  // distância da direita
}