<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-center">Gest Aly </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segment" value="ocupadas" class="segment-custom">
    <ion-segment-button value="ocupadas">
      Ocupadas
    </ion-segment-button>
    <ion-segment-button value="disponiveis">
      Disponíveis
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="home-content" fullscreen>
  <div *ngIf="segment === 'ocupadas'" class="alert-container">
    <ion-icon name="alert-circle-outline" class="alert-icon"></ion-icon>
    <h2>Atenção!</h2>
    <p>Não há mesa ocupada.</p>
  </div>

  <div *ngIf="segment === 'disponiveis'" class="alert-container">
    <ion-icon name="checkmark-circle-outline" class="alert-icon"></ion-icon>
    <h2>Disponível</h2>
    <p>Há mesas disponíveis.</p>
  </div>
</ion-content>

<ion-fab class="fab" slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
   <!-- Só seta para cima -->
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <!-- Só seta para esquerda -->
  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>